<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Programările mele</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<style> 
.btn-group-custom {
    margin-top: 30px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

</style>

</head>
<body class="container mt-5">
    
    <div class="btn-group-custom">
        
        <a href="{% url 'services:home' %}" class="btn btn-secondary">Acasă</a>
        <a href="{% url 'services:symptom_checker' %}" class="btn btn-outline-primary">Înapoi la simptome</a>
    </div>


    <h2>Programările mele</h2>

    {% if appointments %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Clinică</th>
                    <th>Oraș</th>
                    <th>Specialitate</th>
                    <th>Data</th>
                    <th>Ora</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr class="{% if appointment.fulfilled %}table-success{% elif appointment.date < today %}table-danger{% endif %}">
                        <td>{{ appointment.clinic.name }}</td>
                        <td>{{ appointment.clinic.city }}</td>
                        <td>{{ appointment.specialty.name }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>
                            <!-- {% if appointment.fulfilled %}
                                Finalizată
                            {% elif appointment.date < today %}
                                Expirată
                            {% else %}
                                Programată
                            {% endif %} -->
                            {% if appointment.fulfilled and not appointment.review %}
                                <a href="{% url 'reviews:leave_review' appointment.id %}" class="btn btn-sm btn-primary">Lasă o recenzie</a>
                            {% elif appointment.review %}
                                 <span class="text-success">Recenzie trimisă ✅</span>
                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nu aveți încă programări înregistrate.</p>
    {% endif %}
</body>
</html>
